h1,
h2 {
  font-weight: bold;
  color: var(--color-quartinery);
}

h1 {
  font-size: 30px;
  padding-bottom: 100px;
}

.personal-information p {
  font-size: 13px;
  padding-bottom: 20px;
  padding-top: 5px;
  font-weight: bold;
}

.personal-information {
  padding-left: 80px;
  padding-right: 80px;
}

.contact-information {
  color: var(--color-quartinery);
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

h3 {
  color: var(--color-secondary);
  padding-top: 20px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  padding-bottom: 60px;
}
